# Byte-compiled / optimized / DLL files
__pycache__/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment and package files
env/
.venv/
.conda/
*.env
*.conda
*.egg-info/

# VSCode or other editor settings
.vscode/

# Ignore all __pycache__ folders
**/__pycache__/
